body {
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 25px;
	font-weight: 100;
	letter-spacing: 0px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	margin: 0 0 20px 0;
	font-size: 36px;
	line-height: 44px;
	font-weight: 400;
	letter-spacing: 0px;
}

p {
	margin: 0 0 20px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.logo h1 {
	line-height: initial;
	font-size: 20px;
}

a {
	color: #0a0a0a;
	padding: 5px 10px;
	border: 1px solid rgba(9,51,65,0);
	transition: border 400ms;
}

a:hover {
	text-decoration: none;
	color: #0a0a0a;
	//background-color: rgba(9,51,65,.6);
	border: 1px solid rgba(9,51,65,1);
}



.container-fluid {
	.limit {
		max-width: 1140px;
		margin: 0 auto;
	}
}

.main-nav {
	background-color: #093341;
	padding: 10px 0;
	color: #DCBA95;

	ul {
		list-style-type: none;
		margin-top: 10px;

		li {
			display: inline;

			a {
				color: #fff;
				padding: 20px;
				transition: color 400ms;
				font-family: 'Roboto', sans-serif;
				font-size: 12px;
			}

			a:hover {
				text-decoration: none;
				color: #FDE3C7;
			}
		}
	}
}

.main-nav-mobile {
	background-color: #093341;
	color: #DCBA95;
	padding: 10px 0;

	ul {
		padding: 10px 0;
		list-style-type: none;

		li {
			padding: 10px 0;

			a {
				color: #DCBA95;
				padding: 20px;
			}

			a:hover {
				text-decoration: none;
			}
		}
	}

	i {
		font-size: 30px;
		padding: 10px;
	}

	h1 {
		font-size: 20px;
	}
}

.slider {
	.swiper-slide {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: calc(100vh - 70px);

		.bg-color {
			background-color: rgba(9,51,65,0.6);
			height: calc(100vh - 70px);
		}

		.text-holder {
			padding: 40px 30px;
			background-color: rgba(220, 186, 149, 0);
			display: inline-block;
			margin-top: calc(50vh - 136px);

			h1 {
				margin-bottom: 20px;
				color: #fff;
				font-size: 60px;

				@media (max-width: 767px) {
					font-size: 40px;
				}
			}

			p {
				margin: 0 0 20px;
				color: #fff;
			}

			a {
				color: #fff;

				i {
					font-size: 24px;
				}

				transition: color 300ms;
			}

			a:hover {
				color: #FDE3C7;
				text-decoration: none;
				border: 1px solid rgba(9,51,65,0);
			}
		}
	}
}

.slider-alt {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 75vh;
}

.content {
	padding: 40px 0;
}

.content-alt {
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

	.top {
		background-color: #093341;

		h4 {
			color: #F9E3D6;
			margin: 100px 0;
			z-index: 9;
			position: relative;
		}
	}

	.bottom {
		background-color: #F9E3D6;

		h6 {
			margin: 100px 0;
			z-index: 9;
			position: relative;
		}
	}

	.img {
		position: relative;
		top: -80px;
		height: 0;
		z-index: 0;
	}

	.bg {
		position: absolute;
		background-color: transparent;
		background-position: center;
		background-repeat: no-repeat;
		top: 0;

		@media (max-width: 575px) {
			background-size: 95%;
		}

		.col-12 {
			visibility: hidden;
		}

		h4 {
			color: #F9E3D6;
			margin: 100px 0;
			z-index: 9;
			position: relative;
		}
	}
}

.footer {
	padding: 40px 0 20px;

	img {
		width: 80px;
		margin-bottom: 40px;
	}
}

.post-footer {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 50vh;
}

.goto-top {
	position: fixed;
	bottom: 0;
	z-index: 99;
	right: 0;
	background-color: #093341;
	margin: 20px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	transition: background-color 300ms;

	a {
		color: #f9e3d6;
		display: block;
		transition: color 300ms;

		@media (max-width: 575px) {
			padding: 7px 10px;
		}

		@media (min-width: 576px) {
			padding: 15px 20px;
		}
	}

	i {
		@media (max-width: 575px) {
			font-size: 20px;
		}

		@media (min-width: 576px) {
			font-size: 32px;
		}
	}
}

.goto-top:hover {
	background-color: #f9e3d6;

	a {
		color: #093341;
		border: 1px solid rgba(9,51,65,0) !important;
	}
}



.alt-bg {
	background-color: #F9E3D6;
}

.no-padding {
	
}

.parent-vc {
	display: table;
}

.child-vc {
    display: table-cell;
    vertical-align: middle;
}